---
import Layout from "../components/layout.astro"
---

<Layout pageTitle="Página inicial" pageDescription="Esta es una página para ofrecer servicios de software">
	<h1>Página Inicial</h1>
	<p>Bienvenido a mi blog</p>
</Layout>